<%= render "shared/home_and_error" %>


<h1> Add a Band! </h1>

<form  action="<%=band_add_url%>" method="post">
  <label for="band_name">Name of Band</label><br>
  <input name="band[name]" type="text" value='<%=@band.name%>' id= "band_name">

  <input type="submit" value="Add Band">

</form>
